/* custom.css */
.title {
    font-size: 2.5rem; /* 举例：设置大标题字号 */
    font-weight: 300;
    margin-bottom: 20px;
}

.paper-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.paper-author {
    margin-bottom: 5px;
    color: #666;
}

/* 让你名字的颜色生效 */
.paper-author b {
  color: #0000dd; /* 蓝色 */
  font-weight: bold; /* 确保是粗体 */
}

.paper-conf {
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}

.icon {
    width: 16px; /* 设置小图标的宽度 */
    vertical-align: middle; /* 让图标和文字对齐 */
    margin-right: 5px;
}

.publication-hr {
    border-top: 1px solid #eee; /* 自定义分割线样式 */
}